@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Manrope:wght@200..800&display=swap");
* {
  font-family: "Manrope", "sans-serif";
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}
html body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
html body #app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  html body #app {
    height: 100vh;
  }
}
html body .vide {
  height: fit-content;
}

.button {
  background-color: #3B1F1C;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 10px;
  border: none;
  font-weight: bold;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  text-decoration: none;
  font-weight: bold;
}
.button:focus {
  border: solid #fff 1px;
  outline: solid #fff 1px;
  outline-offset: -3px;
  font-weight: bold;
}
.button:disabled {
  background-color: #674946;
  background-color: #fff;
  color: #3B1F1C;
  border: #3B1F1C solid 1px;
  text-decoration: line-through;
}

.boutonSecondaire {
  background-color: #fff;
  color: #3B1F1C;
  border: #3B1F1C solid 1px;
  text-transform: uppercase;
  padding: 10px 10px;
  font-weight: bold;
}
.boutonSecondaire:hover, .boutonSecondaire:focus {
  background-color: #ead5d2;
}
.boutonSecondaire:active {
  border: #3B1F1C solid 3px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .navPrincipale {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: #3B1F1C solid 2px;
  border-radius: 50px;
  padding: 3px;
}
header .navPrincipale a {
  color: #3B1F1C;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: auto 5px;
}
header .navPrincipale a:hover {
  text-decoration: underline;
}

.accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 600px) {
  .accueil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.accueil img {
  max-width: 100%;
}
@media (min-width: 600px) {
  .accueil img {
    max-width: 50%;
  }
}
.accueil section h1 {
  color: #3B1F1C;
  font-family: "Holtwood One SC", "monospace";
  font-size: xxx-large;
}
.accueil section a {
  text-decoration: none;
  margin: 5px;
}
.accueil .test,
.accueil .pays {
  background-color: #FFD000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  aspect-ratio: 1/1;
  margin: 0.5em auto;
  padding: 0.3em;
}
@media (min-width: 600px) {
  .accueil .test,
  .accueil .pays {
    width: 50%;
    aspect-ratio: 1/1;
    margin: auto 0.5em;
  }
}
.accueil .test__p,
.accueil .pays__p {
  margin-bottom: 1em;
  text-align: center;
}
.accueil .test button,
.accueil .pays button {
  background-color: #3B1F1C;
  padding: 10px 10px;
  border: none;
}
.accueil .test button a,
.accueil .pays button a {
  color: #fff;
}

.zone {
  background: rgba(255, 255, 255, 0.6941176471);
  color: #3B1F1C;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 600px) {
  .zone {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.zone section {
  border: #3B1F1C solid 1.5px;
  aspect-ratio: 1/1;
  position: relative;
  width: 50%;
  margin: 0.5em 0.5em;
}
@media (min-width: 600px) {
  .zone section {
    width: 30%;
    aspect-ratio: 1/1;
  }
}
.zone section img {
  max-width: 100%;
  display: block;
}
.zone section img:hover + div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .zone section div {
    width: 0;
    height: 0;
    display: none;
    background-color: rgba(255, 208, 0, 0.2784313725);
  }
}
@media (min-width: 600px) {
  .zone section img:hover + div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.zone .titre {
  text-transform: uppercase;
  text-align: center;
}

.mainQuiz {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7960784314);
  padding: 1em 1em;
}
@media (min-width: 600px) {
  .mainQuiz {
    height: 60%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: auto auto;
    padding: 2em 2em;
  }
}
.mainQuiz section {
  width: 100%;
}
.mainQuiz .instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
@media (min-width: 800px) {
  .mainQuiz .instructions {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
.mainQuiz .instructions img {
  max-width: 100%;
}
@media (min-width: 800px) {
  .mainQuiz .instructions img {
    max-width: 50%;
    padding-right: 3em;
  }
}
.mainQuiz .instructions h1 {
  text-align: center;
}
.mainQuiz .instructions .btnLancerJeu {
  margin: auto auto;
}
.mainQuiz .questionnaire {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 600px) {
  .mainQuiz .questionnaire {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.mainQuiz .questionnaire h1 span {
  display: inline-block;
  text-transform: uppercase;
  height: 100px;
  width: 100px;
  font-size: 3em;
  background-color: #FFD000;
  border-radius: 50%;
}
@media (min-width: 600px) {
  .mainQuiz .questionnaire h1 {
    flex: 1 0 40%;
  }
}
.mainQuiz .questionnaire .ctnQuiz form {
  padding-bottom: 2em;
}
.mainQuiz .questionnaire .ctnQuiz form .ctnReponse input {
  margin-bottom: 0.5em;
  height: 45px;
  text-transform: uppercase;
  width: 90%;
  border: none;
  border-bottom: #3B1F1C solid 2px;
  background-color: transparent;
  text-align: center;
}
@media (min-width: 600px) {
  .mainQuiz .questionnaire .ctnQuiz form .ctnReponse input {
    height: 2em;
    width: 40%;
  }
}
.mainQuiz .questionnaire .ctnQuiz form .ctnReponse .avertissement {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 0.3em 0;
  font-size: 0.8em;
}
.mainQuiz .questionnaire .reponses span {
  font-size: 3.5em;
}
.mainQuiz .questionnaire .reponses .correct {
  color: green;
}
.mainQuiz .questionnaire .reponses .erreur {
  color: darkred;
}
.mainQuiz .revele {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mainQuiz .sectionScore {
  text-align: center;
  width: 100%;
  height: 90%;
}
@media (min-width: 600px) {
  .mainQuiz .sectionScore .ctnScore {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mainQuiz .sectionScore .ctnScore__score {
  line-height: 2.5em;
  width: fit-content;
  aspect-ratio: 1/1;
  font-size: 5em;
  background-color: #FFD000;
  border-radius: 50%;
  font-weight: bold;
  margin: auto;
}
.mainQuiz .sectionScore .btnRelancer,
.mainQuiz .sectionScore .btnResultat {
  margin: 0.5em 0;
}
.mainQuiz .correct {
  color: green;
}
.mainQuiz .incorrect {
  color: darkred;
}

.mainFiche {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 600px) {
  .mainFiche {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
  }
}
.mainFiche .ctnImgZone {
  background-image: url("src/assets/images/afrique_nord_mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 30%;
  align-self: stretch;
  grid-row: 1/span 6;
  grid-column: 1/span 1;
}
@media (min-width: 600px) {
  .mainFiche .ctnImgZone {
    background-image: url("src/assets/images/afrique_nord_table.jpg");
  }
}
.mainFiche .ctnImgZone--nord {
  background-image: url("src/assets/images/afrique_nord_mobile.jpg");
}
@media (min-width: 600px) {
  .mainFiche .ctnImgZone--nord {
    background-image: url("src/assets/images/afrique_nord_table.jpg");
  }
}
.mainFiche .ctnImgZone--ouest {
  background-image: url("src/assets/images/afrique_ouest_mobile.jpg");
}
@media (min-width: 600px) {
  .mainFiche .ctnImgZone--ouest {
    background-image: url("src/assets/images/afrique_ouest_table.jpg");
  }
}
.mainFiche .ctnImgZone--centre {
  background-image: url("src/assets/images/afrique_centre_mobile.jpg");
}
@media (min-width: 600px) {
  .mainFiche .ctnImgZone--centre {
    background-image: url("src/assets/images/afrique_centre_table.jpg");
  }
}
.mainFiche .ctnImgZone--est {
  background-image: url("src/assets/images/afrique_est.jpg");
}
@media (min-width: 600px) {
  .mainFiche .ctnImgZone--est {
    background-image: url("src/assets/images/afrique_est_table.jpg");
  }
}
.mainFiche .ctnImgZone--sud {
  background-image: url("src/assets/images/afrique_sud.jpg");
}
@media (min-width: 600px) {
  .mainFiche .ctnImgZone--sud {
    background-image: url("src/assets/images/afrique_sud_table.jpg");
  }
}
.mainFiche .ctnListeDeroulante {
  border: none;
}
@media (min-width: 600px) {
  .mainFiche .ctnListeDeroulante {
    grid-row: 1/span 1;
    grid-column: 3/span 1;
  }
}
.mainFiche .ctnListeDeroulante label {
  text-transform: uppercase;
}
.mainFiche .ctnPrincipal {
  max-width: 100%;
}
@media (min-width: 600px) {
  .mainFiche .ctnPrincipal {
    grid-column: 2/span 2;
  }
}
.mainFiche .ctnPrincipal .ctnFiche {
  overflow-y: auto;
  padding-left: 10px;
}
.mainFiche .ctnPrincipal .ctnFiche img {
  max-width: 80%;
}
@media (min-width: 600px) {
  .mainFiche .ctnPrincipal .ctnFiche img {
    width: 200px;
  }
}
.mainFiche .ctnPrincipal .ctnFiche .ctnInfo h2 {
  font-size: medium;
}

footer {
  text-align: center;
}
@media (min-width: 600px) {
  footer {
    grid-row: 7/span 1;
    grid-column: 1/span 6;
  }
}

.nav {
  background-color: white;
  width: 100%;
}
@media (min-width: 600px) {
  .nav {
    position: sticky;
    top: 0;
    right: 0;
    grid-row: 1/span 1;
    grid-column: 2/span 2;
  }
}
.nav .zoneGeo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.nav .zoneGeo__item {
  width: fit-content;
}
.nav .zoneGeo__item--active {
  border-bottom: solid 5px #FFD000;
}
.nav .zoneGeo__item button {
  background-color: transparent;
  color: #3B1F1C;
  border: solid 1px #3B1F1C;
  padding: 0.8em;
  margin: 5px;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.nav .zoneGeo__item button:hover {
  background-color: #ead5d2;
  color: #3B1F1C;
}

/*# sourceMappingURL=styles.css.map */
