@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');


/*** GÉNÉRAL ***/
* {
  font-family: "Manjari", "sans-serif";
  font-family: "Manrope", "sans-serif";
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #3B1F1C;
}
html body {
  margin: 0;
  width: 100%;
  height: 100%;
}
html body #app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 600px) {
  html body #app {
    height: 100vh;
  }
}

h1{
  font-family: "Holtwood One SC";
  font-size: 85px;
  color: #3B1F1C;
}
h2{
  font-family: "Manrope";
  font-weight: 900;
  font-size: 75px;
  color: #3B1F1C;
  text-transform: uppercase;
}
h3{
  font-family: "Manrope";
  font-weight: 900;
  font-size: 45px;
  color: #3B1F1C;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  h1{
    font-size: 70px;
  }
}
/****/

/** BOUTONS ET LIENS **/
.bouton{
  background-color: #3B1F1C;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  padding: 16px;
  border: none;
  margin: 5px 5px;
}
.bouton:hover{
  background-color: rgba(59, 31, 28, 0.8);
}
.bouton:active{
  transform: scale(.9);
}
.bouton:focus{
  outline: #fff solid 2px;
  outline-offset: 2px;
}

.boutonSecondaire{
  background-color: #fff;
  color: #3B1F1C;
  text-transform: uppercase;
  font-weight: 300;
  padding: 16px;
  border: #3B1F1C solid 2px;
}
.boutonSecondaire:hover{
  background-color: rgba(59, 31, 28, 0.2);
}
.boutonSecondaire:active{
  transform: scale(.9);
}
.boutonSecondaire:focus{
  border-width: 4px;
}

a,
a:visited{
  color: #3B1F1C;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:active{
  font-style: unset;
  font-weight: bolder;
  transform: scale(0.9);
}
a:focus{
  border: #3B1F1C solid 3px;
}
/****/


/**  EN-TÊTE **/
header{
  margin: 5px;
}
header>a{

}
header nav{
  border: #3B1F1C solid 3px;
  border-radius: 50px;
  padding: 5px 5px;
  width: fit-content;
}
nav>a{
  margin: auto 10px;  
}
.pageEnCours{
  /*background-color: #3B1F1C;*/
  border: #3B1F1C solid 3px;
  border-radius: 50px;
  color: #fff;
}
@media (min-width: 600px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
/**/


/*** PAGE D'ACCUEIL ***/
.accueil{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.accueil img{
  width: 45%;
}
.accueil section div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: center;
}
.accueil section h1{
  margin-bottom: 0;
  text-align: center;
}
.accueil section p{
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}
.accueil section .ctnBoutons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accueil section .ctnBoutons a{
  margin: 10px auto ;
}

@media (min-width: 600px) {
  .accueil{
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .accueil section h1{
    text-align: right;
  }
  .accueil section p{
    text-align: right;
  }
  .accueil section div{
    text-align: right;
  }
  .accueil section .ctnBoutons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .accueil section .ctnBoutons a{
    margin: auto 10px;
  }
}
/****/

html body .vide {
  height: fit-content;
}

.zoneGeo__item button {
  color: #3B1F1C;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 10px;
  margin: 0 5px;
  border: none;
}
.zoneGeo__item button:hover {
  background-color: #3b1f1c50;
}
button:active {
  text-decoration: none;
  font-weight: bold;
}
.zoneGeo__item .enCours{
  border-bottom: #ffd000 solid 8px;
  font-weight:800;
}


/** FICHE - Partie général **/
.mainFiche{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
@media (min-width: 600px) {
  .mainFiche{
    flex-direction: row;
    justify-content: stretch;
  }
}
.imageZone{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 150px;
  width: 100%;*/
}
@media(min-width: 600px){
  .imageZone{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*height: unset;
    width: unset;*/
  }
}
.imgNord{
  background-image: url("@/assets/images/afrique_nord.jpg");
}
.imgSud{
  background-image: url("@/assets/images/afrique_sud.jpg");
}
.imgCentre{
  background-image: url("@/assets/images/afrique_centre.jpg");
}
.imgOuest{
  background-image: url("@/assets/images/afrique_ouest.jpg");
}
.imgEst{
  background-image: url("@/assets/images/afrique_est.jpg");
}
.fld_select{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.listeDeroulante{
  height: 1.5em;
  font-size: 1.2em;
}

/****/

/** FICHE - Fiche pays

/****/


/** QUIZ - Section instructions **/
.mainQuiz .instructions div{
  
}
@media (min-width: 600px) {
  .mainQuiz{
    padding: 1em 1em;
  }
  .mainQuiz .instructions img{
    width: 35%;
  }
  .mainQuiz .instructions div{
    display: inline-block;
    width: 60%;
    margin: 1em;
  }
}
/****/


/** QUIZ - Section formulaire **/
.mainQuiz .ctnFormRetro {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
.mainQuiz .ctnFormRetro .numQuestion {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 900;
  background-image: url("../images/cerle_jaune.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.mainQuiz .ctnFormRetro .ctnReponse input {
  margin-bottom: 0.5em;
  height: 45px;
  text-transform: uppercase;
  width: 90%;
  border: none;
  border-bottom: #3B1F1C solid 2px;
  background-color: transparent;
  text-align: center;
}
.mainQuiz .ctnFormRetro .ctnReponse .avertissement {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 0.3em 0;
  font-size: 0.8em;
}
.mainQuiz .ctnFormRetro .reponses span {
  font-size: 3.5em;
  color: rgb(59, 31, 28, .8);
}
.mainQuiz .ctnFormRetro .reponses .correct {
  color: green;
}
.mainQuiz .ctnFormRetro .reponses .erreur {
  color: darkred;
}

@media (min-width: 600px) {
  .mainQuiz .ctnFormRetro .ctnReponse input {
    height: 2em;
    width: 40%;
  }
  .mainQuiz .ctnFormRetro .numQuestion {
    font-size: 200px;
    margin-right: 10px;
  }
}

/*Activer le display flex*/
.mainQuiz .revele {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media(min-width: 600px){
  .mainQuiz .reveleBis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }  
  .reveleBis>span{
    flex: 0 1 30%;
  }
  .reveleBis>div{
    flex: 1 0 70%;
  }
}


/***/


/** QUIZ - Section résultats **/
.mainQuiz .sectionScore {
  text-align: center;
  width: 100%;
  height: 90%;
}
.mainQuiz .sectionScore .ctnScore__score {
  font-size: 1.6em;
  font-weight: bold;
}
.mainQuiz .sectionScore .btnRelancer,
.mainQuiz .sectionScore .btnResultat {
  margin: 0.5em 0;
}

@media (min-width: 600px) {
  .mainQuiz .sectionScore .ctnScore__score{
    background-image: url("../images/cerle_jaune.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 90px;
    margin: 10px auto;
  }
  .mainQuiz .sectionScore h2 {
    
  }
}

/***/



.mainQuiz section {
  width: 100%;
}
.mainQuiz .instructions h1 {
  text-align: center;
}
.mainQuiz .instructions .btnLancerJeu {
  margin: auto auto;
}


.mainFiche {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 600px) {
  .mainFiche {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
.mainFiche .imageZone {
  margin: 0 0;
}
@media (min-width: 600px) {
  .mainFiche .imageZone {
    flex: 1 0 100%;
    width: 30%;
  }
}
.mainFiche .imageZone .zone {
  width: 100%;
}
@media (min-width: 600px) {
  .mainFiche .imageZone .zone {
    max-width: 100%;
  }
}
.mainFiche .ctn_fiche {
  max-width: 100%;
}
@media (min-width: 600px) {
  .mainFiche .ctn_fiche {
    flex: 1 0 100%;
    width: 70%;
  }
}
.mainFiche .ctn_fiche .nav {
  max-width: 100%;
}
.mainFiche .ctn_fiche .nav .zoneGeo {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 600px) {
  .mainFiche .ctn_fiche .nav .zoneGeo {
    padding: 1em;
  }
}


/**  PIED DE PAGE **/
footer{
  text-align: center;
}

/**/

/*# sourceMappingURL=styles.css.map */
