.mainFiche{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media (min-width:600px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 100vh;
    }

    //Affichage de l'image d'illustration de la zone géographique
    .ctnImgZone{
        background-image: url("images/afrique_nord_mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1 0 30%;
        align-self: stretch;
        grid-row: 1 / span 6;
        grid-column: 1 / span 1;
        @media(min-width: 600px){
            background-image: url("images/afrique_nord_table.jpg");
        }
        &--nord{
            background-image: url("images/afrique_nord_mobile.jpg");
            @media(min-width: 600px){
                background-image: url("images/afrique_nord_table.jpg");
            }
        }
        &--ouest{
            background-image: url("images/afrique_ouest_mobile.jpg");
            @media(min-width: 600px){
                background-image: url("images/afrique_ouest_table.jpg");
            }
        }
        &--centre{
            background-image: url("images/afrique_centre_mobile.jpg");
            @media(min-width: 600px){
                background-image: url("images/afrique_centre_table.jpg");
            }
        }
        &--est{
            background-image: url("images/afrique_est.jpg");
            @media(min-width: 600px){
                background-image: url("images/afrique_est_table.jpg");
            }
        }
        &--sud{
            background-image: url("images/afrique_sud.jpg");
            @media(min-width: 600px){
                background-image: url("images/afrique_sud_table.jpg");
            }
        }
    }

    //Affichage de la liste déroulante
    .ctnListeDeroulante{
        border: none;
        @media(min-width: 600px){
            grid-row: 1 / span 1;
            grid-column: 3 / span 1;
        }
        label{
            text-transform: uppercase;
        }
    }
    
    //Affichage des information du pays
    .ctnPrincipal{
        max-width: 100%;
        @media(min-width: 600px){
            //grid-row: 2 / span 5;
            grid-column: 2 / span 2;
        }
        .ctnFiche{
            overflow-y: auto;
            padding-left: 10px;
            img{
                max-width: 80%;
                @media(min-width: 600px){
                    width: 200px;
                }
            }
            .ctnInfo{
                h2{
                    font-size:medium;
                }
            }
        }
    }
}