
.zone{
    background: #ffffffb1;
    color: $marron;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    section{
        border: $marron solid 1.5px;
        aspect-ratio: 1/1;
        position: relative;
        width: 50%;
        margin: .5em .5em;
        @media (min-width: 600px) {
            width: calc(90% /3);
            aspect-ratio: 1/1;
            //margin: .5em .5em;
        }
        img{
            max-width: 100%;
            display: block;
            
            &:hover+div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        div{
            
            @media (min-width: 600px) {
                width: 0;
                height: 0;
                display: none;
                background-color: #ffd00047;
            }
        }
        img:hover+div{
            @media (min-width: 600px) {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
        }
    }
    .titre{
        text-transform: uppercase;
        text-align: center;

    }
}